<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@* 根据开发环境使用不压缩的css *@
	<environment include="Development">
		<link rel="stylesheet" asp-href-include="css/*" asp-href-exclude="css/all.min.css" />
	</environment>

	@* 根据非开发环境使用压缩的css *@
	<environment exclude="Development">
		<link rel="stylesheet" asp-href-include="css/all.min.css" />
	</environment>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				@* asp-append-version为Tag Helper *@
				<img asp-append-version="true" alt="Logo" src="~/images/logo.png" style="height:60px" />
			</div>
			<div class="col-md-10">
				<span class="h2">@ViewBag.Title</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				@RenderBody()
			</div>
		</div>
	</div>
</body>
</html>
